[[source]]

name = "pypi"
verify_ssl = true
url = "https://pypi.python.org/simple"


[requires]

python_version = "3.6"


[packages]

requests = "*"
flask = "*"
"beautifulsoup4" = "*"
"feedfinder2" = "*"
feedparser = "*"
marshmallow = "*"


[dev-packages]

